body {
  font-family: Arial, sans-serif;
  background-color: #007BFF;
  color: white;
  padding: 20px;
}

#chatbox {
  background-color: white;
  color: black;
  padding: 20px;
  height: 60vh;
  overflow-y: scroll;
  border-radius: 10px;
}

.botResponse, .userResponse {
  margin-bottom: 20px;
}

.botResponse::before {
  content: "JobBot: ";
  font-weight: bold;
}

.userResponse::before {
  content: "You: ";
  font-weight: bold;
}

#userInput {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

#textInput {
  width: 80%;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

#buttonInput {
  height: 40px;
  width: 18%;
  background-color: #0069D9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#buttonInput:hover {
  background-color: #0056b3;
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
  #textInput {
      width: 70%;
  }

  #buttonInput {
      width: 28%;
  }
}